<app-slider></app-slider>
<div class="container">
  <div class="about-us-container text-secondary">
    <h1 class="text-center">About Us</h1>
    <p>
      Welcome to our craft store! We are a family-owned business that has been
      providing quality craft supplies to our community for over 20 years.
    </p>
    <p>
      Our mission is to inspire creativity and provide the tools and resources
      needed to bring your ideas to life. Whether you're a seasoned crafter or
      just starting out, we have something for everyone.
    </p>

    <div class="d-flex justify-content-center">
      <img
        src="assets/Logo/2.png"
        class="rounded"
        alt="..."
        style="width: 600px; height: 400px"
      />
    </div>

    <div class="container d-flex justify-content-center">
      <a
        mat-raised-button
        color="primary"
        class="p-4 m-3"
        mat-button
        color="primary"
        [routerLink]="['products']"
      >
        Shop Now
      </a>
    </div>
  </div>
</div>
